<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cadastro de Usuarios</title>
  </head>
  <body>
    <h1 class="titulo-usuario">Faça login ou se cadastre</h1>
    <form action="/cadastrar" method="POST">
      Nome:
      <input
        class="input-user"
        type="text"
        name="name"
        placeholder="Informe o seu nome"
        required
      />
      <br />
      Email:
      <input
        class="input-user"
        type="email"
        name="email"
        placeholder="Informe o seu email"
        required
      />
      <br />
      Senha:
      <input
        class="input-user"
        type="password"
        name="senha"
        placeholder="Informe uma senha forte"
      />
      <br/>
      <button class="cadastrar-usuario" type="submit">Cadastrar</button>
    </form>
    <button><a href="/">Voltar</a></button>
  </body>
</html>
