<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cursos Cadastrados</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
  </head>
  <body>
    <h1>Cursos Cadastrados</h1>
    <ul>
      {% for curso in usuario.cursos %}
      <li>
        {{ curso.titulo }} ➡ {{ curso.plataforma }}
        <a href="{{ url_for('detalhe_curso', id=curso.id) }}">Detalhes</a>
        <a
          href="{{ url_for('excluir_curso', id=curso.id) }}"
          onclick="
            return confirm('Tem certeza que deseja excluir este curso?', method='POST');
          "
          >Excluir</a
        >
      </li>
      {% endfor %} {% if usuario.cursos | length == 0 %}
      <p>Nenhum curso cadastrado.</p>
      {% endif %}
    </ul>
    <form action="{{ url_for('novo_curso') }}" method="GET">
      <input type="submit" value="Cadastrar Novo Curso" />
    </form>
  </body>
</html>
