<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <title>Controle de Cursos</title>
  </head>
  <body>
    <h1>Login</h1>
    <form class="form-login" action="/login" method="POST">
      Email:
      <input
        type="text"
        class="input-login"
        placeholder="Informe o seu Email"
        name="login-email"
      />
      <br />
      Senha:
      <input
        type="password"
        class="input-login"
        placeholder="Informe a sua Senha"
        name="login-senha"
      />
      <br />
      <button class="login-usuario" type="submit">Login</button>
    </form>
    <button><a href="/">Sair</a></button>
  </body>
</html>
